/* Estilos de título */
.titulo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  width: 90px;
  margin-left: 30px;
}

/* Estilos de Filtros */
.fechas {
  display: flex;
  margin-bottom: 5px;
}
.display-flex {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.label-space {
  width: 70px;
  margin-bottom: 0;
}
.item {
  display: flex;
}
input[type="date"] {
  width: 170px;
  margin-right: 20px;
}
.form-select {
  width: 435px;
}
.btn-buscar {
  margin: 0;
}

/* Estilos de tabla */
td, th {
  vertical-align: middle;
}
th {
  text-align: center;
}
td > .btn {
  margin: 0;
}
.activo {
  background: rgba(92, 174, 92, 0.228);
}
.col-numero {
  width: 20px;
}
.col-dia {
  width: 100px;
  text-align: center;
}
.col-cliente, .col-concepto {
  width: 250px;
}
.col-importe {
  width: 70px;
  text-align: end;
}
.col-cerrado {
  width: 20px;
  text-align: center;
}
.col-ver {
  width: 70px;
}